.Link{
    padding: 13px;
    margin-left: 10px;
    font-Family: 'Roboto';
    color: white;
    text-Decoration: none ;
}

.Link:hover{
    background-color: #3a4c9a;
}

.Link_username{
    padding: 13px;
    margin-left: 10px;
    margin-right: 10px;
    font-Family: 'Roboto';
    color: white;
    background-color: #283673;
    text-Decoration: none ;
}

.Link_username:hover{
    background-color: #1c2652;
}