.Link {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  font-family: 'Roboto';
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

.navBarItem {
  padding: 0;
  margin-left: 10px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
